package components

import "github.com/michelm117/cycling-coach-lab/models"

templ UserCard(user models.User) {
	<div class="card card-compact w-96 bg-base-100 shadow-xl">
		<figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes"/></figure>
		<div class="card-body">
			<h2 class="card-title">{ user.Email }</h2>
		</div>
	</div>
}
