package layout

import (
	"github.com/michelm117/cycling-coach-lab/model"
	"github.com/michelm117/cycling-coach-lab/views/components/admin_dashboard"
)

templ AdminDashboard(users []*model.User) {
	@BaseLayout() {
		<div id="users" hx-swap-oob="true">
			@admin_dashboard.UserTable(users)
		</div>
	}
}
