package user

import (
	"github.com/michelm117/cycling-coach-lab/views/layout"
	"github.com/michelm117/cycling-coach-lab/models"
)

templ ShowUsers(users []models.User) {
	@layout.Base() {
		<div id="users" hx-swap-oob="true">
			for _, user := range users {
				@ShowUser(user)
			}
		</div>
	}
}
