package user

import (
	"github.com/michelm117/cycling-coach-lab/views/components"
	"github.com/michelm117/cycling-coach-lab/views/layout"
	"github.com/michelm117/cycling-coach-lab/models"
)

templ ShowUser(user models.User) {
	@layout.Base() {
		@components.UserCard(user)
	}
}
