package user

import (
	"github.com/michelm117/cycling-coach-lab/views/layout"
	"github.com/michelm117/cycling-coach-lab/models"
	"github.com/michelm117/cycling-coach-lab/views/components"
)

templ ShowUsers(users []*models.User) {
	@layout.Base() {
		<div id="users" hx-swap-oob="true">
			@components.UserTable(users)
		</div>
	}
}
